.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22rem 1fr 1fr;
    grid-template-areas: 'header' 'parties' 'proxies';
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    background-color: #23262c;
}

.header button {
    height: 3rem;
    margin-bottom: 0.2rem;
    background-color: #11ad71;
}

.header button:hover {
    height: 3.5rem;
    background-color: #abc41e;
}

.textinfo {
    font-family: sans-serif;
    color: rgb(17, 148, 56);
    font-style: italic;
    padding: 1em;
    width: 100%;
    word-wrap: break-word;
    resize: none;
    height: auto;
    font-size: 1.5rem;    
}

.parties {
    grid-area: parties;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.proxies {
    grid-area: proxies;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}