.wrapper {
    margin: 1rem;
    background-color: #355457;
    padding: 0.5rem;    
    min-width:50rem;
    margin-left:10px;
    overflow:hidden;
    transition: box-shadow ease-in 100ms;
}

.wrapper:hover {
    box-shadow: 0 0 2rem 0.5rem #2f3438;
}

.title {
    display: inline-block;
    font-size: 1.1rem;
    height: 2rem;
}

.title button {
    height: 1.5rem;
    margin-bottom: 0.2rem;
    background-color: #1e0b61;
}

.title button:hover {
    background-color: #7c1c29;
}

.section {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.7rem;
}

.code {
    width: 100%;
    display: block;
    word-wrap: break-word;
    resize: none;
    height: auto;
    font-size: 0.7rem;
}

.personaldata {    
    width: 80%;
    display:inline-block;
    word-wrap: break-word;
    resize: none;
    height: auto;
    font-size: 0.7rem;
    vertical-align: middle;
}


.label {
    width: 100px;
    margin-left: 10px;
    float:left;
    color: black;
}